/*
* Copyright (c) 2023 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>


/* Layers */
#define L_CMAK  0
#define L_QWER  1
#define L_FEAX  2
#define L_FUNC  3
#define L_NAVI  4
#define L_NUMB  5
#define L_NUML  6
#define L_NUMX  7
#define L_META  8

/* Option Symbols */
#define LDQUO   RA(LBKT)
#define RDQUO   RA(LBRC)
#define LSQUO   RA(RBKT)
#define RSQUO   RA(RBRC)
#define NDASH   RA(MINUS)
#define MDASH   RA(UNDER)
#define ELLIP   RA(SEMI)

/* Modifiers */
#define M_ALL   LG(LA(LCTRL))
#define M_ARR   RG(RA(RCTRL))

/* Shortcuts */
#define S_UNDO  LG(Z)
#define S_REDO  LS(S_UNDO)
#define S_CUT   LG(X)
#define S_COPY  LG(C)
#define S_PAST  LG(V)
#define S_SAVE  LG(S)
#define S_SHOT  RG(DOLLAR)
#define S_TIMER RG(RA(RC(F10)))

/* Shorter Number Pad Codes */
#define P1      KP_NUMBER_1
#define P2      KP_NUMBER_2
#define P3      KP_NUMBER_3
#define P4      KP_NUMBER_4
#define P5      KP_NUMBER_5
#define P6      KP_NUMBER_6
#define P7      KP_NUMBER_7
#define P8      KP_NUMBER_8
#define P9      KP_NUMBER_9
#define P0      KP_NUMBER_0
#define PPLUS   KP_PLUS
#define PMIN    KP_MINUS
#define PMULT   KP_MULTIPLY
#define PDIV    KP_DIVIDE
#define PEQL    KP_EQUAL
#define PDOT    KP_DOT


&mt {
    flavor = "balanced";
    tapping_term_ms = <175>;
};

/ {
    behaviors {

        bl_encoder: bl_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            label = "BACKLIGHT_ENCODER";
            #sensor-binding-cells = <0>;
            bindings = <&bl BL_DEC>, <&bl BL_INC>;
        };

        bsdel: backsp_del {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSP_DEL";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <MOD_LSFT>;
        };
        comlp: comma_paren {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_PAREN";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp LPAR>;
            mods = <MOD_LSFT>;
        };
        dotrp: dot_paren {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_PAREN";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp RPAR>;
            mods = <MOD_LSFT>;
        };
        comlt: comma_less {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_LESSTHAN";
            #binding-cells = <0>;
            bindings = <&comlp>, <&kp LT>;
            mods = <MOD_LALT>;
        };
        dotgt: dot_great {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_GREATERTHAN";
            #binding-cells = <0>;
            bindings = <&dotrp>, <&kp GT>;
            mods = <MOD_LALT>;
        };
        comlb: comma_backet {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_BRACKET";
            #binding-cells = <0>;
            bindings = <&comlt>, <&kp LBKT>;
            mods = <MOD_LCTL>;
        };
        dotrb: dot_backet {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_BRACKET";
            #binding-cells = <0>;
            bindings = <&dotgt>, <&kp RBKT>;
            mods = <MOD_LCTL>;
        };

        td_q: tap_dance_q {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_Q";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp SQT>;
        };
        td_w: tap_dance_w {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_W";
            #binding-cells = <0>;
            bindings = <&kp W>, <&kp DQT>, <&www>;
        };
        td_comma: tap_dance_comma {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_COMMA";
            #binding-cells = <0>;
            bindings = <&comlb>, <&kp SEMI>;
        };
        td_dot: tap_dance_dot {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_DOT";
            #binding-cells = <0>;
            bindings = <&dotrb>, <&kp COLON>, <&parent_dir>;
        };

        lt_func: lt_func {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_FUNCTION_LAYER_MACRO";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&func_layer_macro>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            layers = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_minus {
            timeout-ms = <50>;
            key-positions = <8 9>;
            layers = <0 1>;
            bindings = <&kp MINUS>;
        };
        combo_capsword {
            timeout-ms = <50>;
            key-positions = <20 21>;
            layers = <0 1>;
            bindings = <&caps_word>;
        };
        combo_equal {
            timeout-ms = <50>;
            key-positions = <27 28>;
            layers = <0 1>;
            bindings = <&kp EQUAL>;
        };
    };

    macros {
        ZMK_MACRO(
            m000,
            bindings = <&kp P0 &kp P0 &kp P0>;
        )
        ZMK_MACRO(
            m1,
            bindings = <&kp M &kp N1>;
        )
        ZMK_MACRO(
            m2,
            bindings = <&kp M &kp N2>;
        )
        ZMK_MACRO(
            bgk1,
            bindings = <&kp LS(B) &kp A &kp R &kp N &kp A &kp B &kp Y>;
        )
        ZMK_MACRO(
            www,
            bindings = <&kp W &kp W &kp W>;
        )
        ZMK_MACRO(
            parent_dir,
            bindings = <&kp DOT &kp DOT &kp SLASH>;
        )
    };

    keymap {
        compatible = "zmk,keymap";

        Layer_ColeMAK {
            bindings = <
                &td_q       &td_w       &kp D       &kp P       &kp F       &kp J       &kp L       &kp O       &kp Y       &bsdel
                &mt LCTRL A &mt LALT R  &mt LGUI S  &mt LSHFT T &kp G       &kp M       &mt RSHFT N &mt RGUI E  &mt RALT I  &mt RCTRL U
                &mt LSHFT Z &kp X       &kp C       &kp V       &kp B       &kp K       &kp H       &td_comma   &td_dot     &bootloader
                                                    &lt L_FUNC TAB  &lt L_NAVI SPACE    &lt L_NUMB RETURN
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        Layer_QWERty {
            bindings = <
                &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P
                &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMI
                &mt LSHFT Z &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp ESC
                                                    &lt L_FUNC TAB  &lt L_NAVI SPACE    &lt L_NUMB RETURN
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        layer_Flip_Encoder_AXis {
            bindings = <
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                                                    &lt L_FUNC TAB  &lt L_NAVI SPACE    &lt L_NUMB RETURN
            >;
            sensor-bindings = <&inc_dec_kp DOWN UP>;
        };

        Layer_FUNCtion {
            bindings = <
                &kp GRAVE   &kp TAB     &mt LGUI F3 &kp LSQUO   &kp F5      &kp F6      &kp AMPS    &kp ASTRK   &kp S_REDO  &kp F10
                &kp LDQUO   &kp RDQUO   &kp S_SAVE  &kp RSQUO   &kp AT      &kp MDASH   &kp NDASH   &kp ELLIP   &kp PIPE    &kp CARET
                &kp S_UNDO  &kp S_CUT   &kp S_COPY  &kp S_PAST  &bgk1       &kp GRAVE   &kp HASH    &kp BSLH    &kp FSLH    &kp CAPS
                                                    &trans          &trans              &mo L_META
            >;
            sensor-bindings = <&inc_dec_kp DOWN UP>;
        };

        Layer_NAVIgation {
            bindings = <
                &kp TAB &kp LC(LS(TAB)) &kp UP      &kp LC(TAB) &kp HOME    &kp PG_UP   &kp TILDE   &kp N0      &m000       &kp EQUAL
                &kp GRAVE   &kp LEFT    &kp DOWN    &kp RIGHT   &kp END     &kp PG_DN   &kp RSHIFT  &kp RGUI    &kp RALT    &kp RCTRL
                &mt LSHFT N2 &kp N4     &kp M_ALL   &kp INSERT  &kp LBRC    &kp RBRC    &kp FSLH    &none       &none       &tog L_FEAX
                                                    &kp LGUI        &trans              &kp RETURN
            >;
            sensor-bindings = <&inc_dec_kp PG_DN PG_UP>;
        };

        Layer_NUMBer {
            bindings = <
                &kp DQT     &kp P7      &kp P8      &kp P9      &kp PMIN    &kp PRCNT   &kp AMPS    &kp PMULT   &kp PDIV    &kp BSPC
                &kp SQT     &kp P4      &kp P5      &kp P6      &kp PPLUS   &kp LBKT    &kp TILDE   &kp DLLR    &kp PIPE    &tog L_NUML
            &lt L_NUMX PEQL &kp P1      &kp P2      &kp P3      &kp KP_DOT  &kp LT      &kp HASH    &kp QMARK   &kp EXCL    &trans
                                                    &lt L_META P0   &kp KP_ENTER        &trans
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        Layer_NUMber_Lock {
            bindings = <
                &kp DQT     &kp P7      &kp P8      &kp P9      &kp PMIN    &kp PRCNT   &kp AMPS    &kp PMULT   &kp PDIV    &kp BSPC
                &kp SQT     &kp P4      &kp P5      &kp P6      &kp PPLUS   &kp LBKT    &kp TILDE   &kp DLLR    &kp PIPE    &tog L_NUML
            &lt L_NUMX PEQL &kp P1      &kp P2      &kp P3      &kp KP_DOT  &kp LT      &kp HASH    &kp QMARK   &kp EXCL    &trans
                                                    &lt L_META P0   &kp KP_ENTER        &trans
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        Layer_NUMber_eXtra {
            bindings = <
                &kp KP_NLCK &kp N7      &kp N8      &kp N9      &kp PDIV    &trans      &trans      &trans      &trans      &kp DELETE
                &kp LG(SQT) &kp N4      &kp N5      &kp N6      &kp PMULT   &kp RBKT    &trans      &trans      &trans      &trans
                &trans      &kp N1      &kp N2      &kp N3      &kp DOT     &kp GT      &trans      &kp LBRC    &kp RBRC    &trans
                                                    &lt L_META N0   &trans              &trans
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        Layer_META {
            bindings = <
                &kp F1      &kp F2     &kp F3      &kp F4       &kp F5      &kp F6     &kp F7       &kp F8      &kp F9      &bootloader
                &to L_CMAK  &to L_QWER &kp C_SLEEP &kp C_BRI_UP &kp S_SHOT  &kp K_MUTE &kp C_VOL_UP &kp F10     &kp F11     &kp F12
                &m1         &m2        &kp S_TIMER &kp C_BRI_DN &none       &kp CAPS   &kp C_VOL_DN &bl BL_DEC  &bl BL_INC  &bl BL_TOG
                                                &trans              &rgb_ug RGB_TOG    &trans

            >;
            sensor-bindings = <&bl_encoder>;
        };
    };
};
